<a href="https://colab.research.google.com/github/suchi2110/Basic_Calculator-/blob/main/projects_ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import opendatasets as od

In [2]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.5.16)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2023.11.17)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.6)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [6]:
url = 'https://drive.google.com/file/d/1dfGerWeWkcyQ9GX9x20rdSGj7WtEpzBB/view?usp=sharing'

In [7]:
od.download(url)

Downloading from Google Drive (may take a while): https://drive.google.com/file/d/1dfGerWeWkcyQ9GX9x20rdSGj7WtEpzBB/view?usp=sharing

9908290it [00:00, 656260941.48it/s]

Downloaded and unzipped to  ./developer_survey_2020

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
survey_raw=pd.read_csv('/content/developer_survey_2020/survey_results_public.csv')

In [11]:
pd.set_option('display.max_columns',None)

In [12]:
survey_raw

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a decade,NaN,NaN,NaN,NaN,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64457,64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,NaN,NaN,NaN,Primary/elementary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,DynamoDB;Elasticsearch;MongoDB;MySQL;PostgreSQL,Oracle,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript,HTML/CSS,Node.js,NaN,Github;Gitlab,Confluence;Jira;Slack;Microsoft Teams,NaN,NaN,NaN,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow,Windows,NaN,NaN,Linux;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
64460,65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,MariaDB;Microsoft SQL Server,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Java;JavaScript;SQL,C#;HTML/CSS;Java;JavaScript;SQL,.NET Core;Xamarin,.NET;.NET Core,Github;Microsoft Teams,Github,NaN,NaN,Critically important,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial;Ask developers I know/work ...,Indifferent,NaN,Meditate;Visit Stack Overflow;Go for a walk or...,Windows,NaN,Arduino;Linux;Raspberry Pi;Windows,Android;Arduino;Linux;Raspberry Pi;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [13]:
survey_raw.head(3)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN

In [15]:
survey_raw.Employment[0]

'Independent contractor, freelancer, or self-employed'

In [17]:
survey_raw.Ethnicity[0]

'White or of European descent'

In [20]:
survey_raw.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [22]:
survey_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45472 non-null  object
 11  DatabaseDesireNextYear        44070 non-null  object
 12  DatabaseWorkedWith            49537 non-null  object
 13  DevType                       49370 non-null  object
 14  EdLevel                       57431 non-null  object
 15  Employment                    63854 non-null  object
 16  Ethnicity                     45948 non-null  object
 17  Gender                        50557 non-null  object
 18  JobFactors                    49349 non-null  object
 19  JobSat                        45194 non-null  object
 20  JobSeek                       51727 non-null  object
 21  LanguageDesireNextYear        54113 non-null  object
 22  LanguageWorkedWith            57378 non-null  object
 23  MiscTechDesireNextYear        42379 non-null  object
 24  MiscTechWorkedWith            40314 non-null  object
 25  NEWCollabToolsDesireNextYear  47287 non-null  object
 26  NEWCollabToolsWorkedWith      52883 non-null  object
 27  NEWDevOps                     42686 non-null  object
 28  NEWDevOpsImpt                 41732 non-null  object
 29  NEWEdImpt                     48465 non-null  object
 30  NEWJobHunt                    42286 non-null  object
 31  NEWJobHuntResearch            41022 non-null  object
 32  NEWLearn                      56156 non-null  object
 33  NEWOffTopic                   50804 non-null  object
 34  NEWOnboardGood                42623 non-null  object
 35  NEWOtherComms                 57205 non-null  object
 36  NEWOvertime                   43231 non-null  object
 37  NEWPurchaseResearch           37321 non-null  object
 38  NEWPurpleLink                 54803 non-null  object
 39  NEWSOSites                    58275 non-null  object
 40  NEWStuck                      54983 non-null  object
 41  OpSys                         56228 non-null  object
 42  OrgSize                       44334 non-null  object
 43  PlatformDesireNextYear        50605 non-null  object
 44  PlatformWorkedWith            53843 non-null  object
 45  PurchaseWhat                  39364 non-null  object
 46  Sexuality                     43992 non-null  object
 47  SOAccount                     56805 non-null  object
 48  SOComm                        56476 non-null  object
 49  SOPartFreq                    46792 non-null  object
 50  SOVisitFreq                   56970 non-null  object
 51  SurveyEase                    51802 non-null  object
 52  SurveyLength                  51701 non-null  object
 53  Trans                         49345 non-null  object
 54  UndergradMajor                50995 non-null  object
 55  WebframeDesireNextYear        40024 non-null  object
 56  WebframeWorkedWith            42279 non-null  object
 57  WelcomeChange                 52683 non-null  object
 58  WorkWeekHrs                   41151 non-null  float64
 59  YearsCode                     57684 non-null  object
 60  YearsCodePro                  46349 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [23]:
survey_raw.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [101]:
selected_cols = ['MainBranch','Hobbyist','Age','Age1stCode','CompFreq','Country','DatabaseWorkedWith',
                 'DevType','EdLevel','Employment','Gender','JobSat','LanguageDesireNextYear',
                'LanguageWorkedWith','NEWLearn','UndergradMajor',
                 'YearsCode','YearsCodePro','WorkWeekHrs','OrgSize','DatabaseDesireNextYear',
                 'NEWOvertime']

In [ ]:
survey_raw

In [71]:
len(selected_cols)

22

In [102]:
survey=survey_raw[selected_cols].copy()

In [103]:
survey

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,Country,DatabaseWorkedWith,DevType,EdLevel,Employment,Gender,JobSat,LanguageDesireNextYear,LanguageWorkedWith,NEWLearn,UndergradMajor,YearsCode,YearsCodePro,WorkWeekHrs,OrgSize,DatabaseDesireNextYear,NEWOvertime
0,I am a developer by profession,Yes,NaN,13,Monthly,Germany,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",Man,Slightly satisfied,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,Once a year,"Computer science, computer engineering, or sof...",36,27,50.0,2 to 9 employees,Microsoft SQL Server,Often: 1-2 days per week or more
1,I am a developer by profession,No,NaN,19,NaN,United Kingdom,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Very dissatisfied,Python;Swift,JavaScript;Swift,Once a year,"Computer science, computer engineering, or sof...",7,4,NaN,"1,000 to 4,999 employees",NaN,NaN
2,I code primarily as a hobby,Yes,NaN,15,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,Once a decade,NaN,4,NaN,NaN,NaN,NaN,NaN
3,I am a developer by profession,Yes,25.0,18,NaN,Albania,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,Man,Slightly dissatisfied,NaN,NaN,Once a year,"Computer science, computer engineering, or sof...",7,4,40.0,20 to 99 employees,NaN,Occasionally: 1-2 days per quarter but less th...
4,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,United States,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Man,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Once a year,"Computer science, computer engineering, or sof...",15,8,NaN,NaN,MySQL;PostgreSQL,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,NaN,Yes,NaN,16,NaN,United States,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,Once a decade,"Computer science, computer engineering, or sof...",10,Less than 1 year,NaN,NaN,NaN,NaN
64457,NaN,Yes,NaN,NaN,NaN,Morocco,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,Employed full-time,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,NaN,NaN,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN
64458,NaN,Yes,NaN,NaN,NaN,Viet Nam,NaN,NaN,Primary/elementary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64459,NaN,Yes,NaN,NaN,NaN,Poland,Oracle,NaN,NaN,Employed full-time,NaN,NaN,HTML/CSS;Java;JavaScript,HTML/CSS,Once a year,NaN,NaN,NaN,NaN,NaN,DynamoDB;Elasticsearch;MongoDB;MySQL;PostgreSQL,NaN
64460,NaN,Yes,NaN,NaN,NaN,Spain,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,C#;HTML/CSS;Java;JavaScript;SQL,C#;HTML/CSS;Java;JavaScript;SQL,Once a year,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,MariaDB;Microsoft SQL Server,NaN

In [74]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   MainBranch              64162 non-null  object
 1   Hobbyist                64416 non-null  object
 2   Age                     45446 non-null  float64
 3   Age1stCode              57900 non-null  object
 4   CompFreq                40069 non-null  object
 5   Country                 64072 non-null  object
 6   DatabaseWorkedWith      49537 non-null  object
 7   DevType                 49370 non-null  object
 8   EdLevel                 57431 non-null  object
 9   Employment              63854 non-null  object
 10  Gender                  50557 non-null  object
 11  JobSat                  45194 non-null  object
 12  LanguageDesireNextYear  54113 non-null  object
 13  LanguageWorkedWith      57378 non-null  object
 14  NEWLearn                56156 non-null  object
 15  UndergradMajor          50995 non-null  object
 16  YearsCode               57684 non-null  object
 17  YearsCodePro            46349 non-null  object
 18  WorkWeekHrs             41151 non-null  float64
 19  OrgSize                 44334 non-null  object
 20  DatabaseDesireNextYear  44070 non-null  object
 21  NEWOvertime             43231 non-null  object
dtypes: float64(2), object(20)
memory usage: 10.8+ MB

In [75]:
survey.YearsCode  #showing object dtype

0         36
1          7
2          4
3          7
4         15
        ...
64456     10
64457    NaN
64458    NaN
64459    NaN
64460    NaN
Name: YearsCode, Length: 64461, dtype: object

In [32]:
64460-64162

298

In [76]:
survey.isna().sum()/len(survey)*100

MainBranch                 0.463846
Hobbyist                   0.069810
Age                       29.498456
Age1stCode                10.178247
CompFreq                  37.839934
Country                    0.603466
DatabaseWorkedWith        23.151983
DevType                   23.411055
EdLevel                   10.905819
Employment                 0.941655
Gender                    21.569631
JobSat                    29.889390
LanguageDesireNextYear    16.053117
LanguageWorkedWith        10.988039
NEWLearn                  12.883759
UndergradMajor            20.890151
YearsCode                 10.513334
YearsCodePro              28.097609
WorkWeekHrs               36.161400
OrgSize                   31.223531
DatabaseDesireNextYear    31.633080
NEWOvertime               32.934643
dtype: float64

In [77]:
survey.isnull().sum() #isnull same as isna ????

MainBranch                  299
Hobbyist                     45
Age                       19015
Age1stCode                 6561
CompFreq                  24392
Country                     389
DatabaseWorkedWith        14924
DevType                   15091
EdLevel                    7030
Employment                  607
Gender                    13904
JobSat                    19267
LanguageDesireNextYear    10348
LanguageWorkedWith         7083
NEWLearn                   8305
UndergradMajor            13466
YearsCode                  6777
YearsCodePro              18112
WorkWeekHrs               23310
OrgSize                   20127
DatabaseDesireNextYear    20391
NEWOvertime               21230
dtype: int64

In [78]:
survey.Age1stCode.unique()

array(['13', '19', '15', '18', '16', '14', '12', '20', '42', '8', '25',
       '22', '30', '17', '21', '10', '46', '9', '7', '11', '6', nan, '31',
       '29', '5', 'Younger than 5 years', '28', '38', '23', '27', '41',
       '24', '53', '26', '35', '32', '40', '33', '36', '54', '48', '56',
       '45', '44', '34', 'Older than 85', '39', '51', '68', '50', '37',
       '47', '43', '52', '85', '64', '55', '58', '49', '76', '72', '73',
       '83', '63'], dtype=object)

In [104]:
survey[survey.Age1stCode=='Younger than 5 years']

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,Country,DatabaseWorkedWith,DevType,EdLevel,Employment,Gender,JobSat,LanguageDesireNextYear,LanguageWorkedWith,NEWLearn,UndergradMajor,YearsCode,YearsCodePro,WorkWeekHrs,OrgSize,DatabaseDesireNextYear,NEWOvertime
209,I am a developer by profession,Yes,34.0,Younger than 5 years,Yearly,United States,PostgreSQL,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,"Non-binary, genderqueer, or gender non-conforming",Slightly dissatisfied,Bash/Shell/PowerShell;Go;Python,Bash/Shell/PowerShell;Go;Python,Once a year,"A social science (such as anthropology, psycho...",6,5,35.0,10 to 19 employees,PostgreSQL,Sometimes: 1-2 days per month but less than we...
372,I am a developer by profession,Yes,40.0,Younger than 5 years,Yearly,Canada,Cassandra;DynamoDB;Microsoft SQL Server;Postgr...,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,Man,Very satisfied,Bash/Shell/PowerShell;Dart;Kotlin;Rust,Bash/Shell/PowerShell;C#;Go;HTML/CSS;Java;Java...,Once a year,"Computer science, computer engineering, or sof...",35,20,50.0,100 to 499 employees,Firebase;PostgreSQL;Redis,Sometimes: 1-2 days per month but less than we...
534,I am a developer by profession,Yes,36.0,Younger than 5 years,Yearly,Canada,Microsoft SQL Server;MySQL;PostgreSQL,"Database administrator;Designer;Developer, bac...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Man,Very satisfied,C#;HTML/CSS;SQL,C#;HTML/CSS;SQL,Once every few years,"Another engineering discipline (such as civil,...",30,7,45.0,10 to 19 employees,Microsoft SQL Server;PostgreSQL,Sometimes: 1-2 days per month but less than we...
566,I am a developer by profession,Yes,36.0,Younger than 5 years,Yearly,United States,Elasticsearch;Microsoft SQL Server;MySQL;Postg...,"Developer, back-end;Developer, desktop or ente...","Secondary school (e.g. American high school, G...",Employed full-time,Man,Very satisfied,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;R...,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,Once a year,NaN,25,13,45.0,100 to 499 employees,Microsoft SQL Server;Redis,Occasionally: 1-2 days per quarter but less th...
634,I am a developer by profession,Yes,28.0,Younger than 5 years,Yearly,United States,NaN,"Developer, embedded applications or devices","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Man,Very satisfied,C;C#;Python,C;C#;Python;VBA,Once every few years,"Another engineering discipline (such as civil,...",26,7,40.0,"10,000 or more employees",NaN,Sometimes: 1-2 days per month but less than we...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64383,NaN,Yes,1.0,Younger than 5 years,NaN,Indonesia,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,I never completed any formal education,NaN,Woman,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,1,1,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN
64401,NaN,Yes,NaN,Younger than 5 years,NaN,Poland,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Academic researcher;Data or business analyst;D...,I never completed any formal education,Employed full-time,Woman,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Once every few years,NaN,Less than 1 year,NaN,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN
64412,NaN,Yes,NaN,Younger than 5 years,NaN,Djibouti,NaN,NaN,I never completed any formal education,NaN,Man,NaN,Java,Java,Every few months,NaN,Less than 1 year,Less than 1 year,NaN,NaN,Oracle,NaN
64421,NaN,Yes,17.0,Younger than 5 years,NaN,Costa Rica,Cassandra;MariaDB;Microsoft SQL Server;MongoDB...,NaN,"Secondary school (e.g. American high school, G...",Student,"Non-binary, genderqueer, or gender non-conforming",NaN,Bash/Shell/PowerShell;Dart;Haskell;Julia;Rust;...,Assembly;C;C#;C++;Go;HTML/CSS;Java;JavaScript;...,NaN,NaN,14,NaN,NaN,NaN,Couchbase;DynamoDB;Elasticsearch;Firebase;IBM ...,NaN
64438,NaN,Yes,NaN,Younger than 5 years,NaN,Morocco,Cassandra;Microsoft SQL Server,NaN,Primary/elementary school,NaN,Man,NaN,NaN,C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript,NaN,NaN,Less than 1 year,Less than 1 year,NaN,NaN,Elasticsearch;IBM DB2;Oracle,NaN

In [105]:
survey.YearsCode.unique()

array(['36', '7', '4', '15', '6', '17', '8', '10', '35', '5', '37', '19',
       '9', '22', '30', '23', '20', '2', 'Less than 1 year', '3', '13',
       '25', '16', '43', '11', '38', '33', nan, '24', '21', '12', '40',
       '27', '50', '46', '14', '18', '28', '32', '44', '26', '42', '31',
       '34', '29', '1', '39', '41', '45', 'More than 50 years', '47',
       '49', '48'], dtype=object)

In [106]:
survey[survey.YearsCode == 'Less than 1 year']

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,Country,DatabaseWorkedWith,DevType,EdLevel,Employment,Gender,JobSat,LanguageDesireNextYear,LanguageWorkedWith,NEWLearn,UndergradMajor,YearsCode,YearsCodePro,WorkWeekHrs,OrgSize,DatabaseDesireNextYear,NEWOvertime
28,I am a student who is learning to code,Yes,18.0,15,NaN,Ukraine,NaN,NaN,"Secondary school (e.g. American high school, G...",Student,Man,NaN,C#;HTML/CSS;Java;JavaScript;Kotlin;Python;SQL;...,C#;C++;HTML/CSS;Python,Every few months,NaN,Less than 1 year,NaN,NaN,NaN,MySQL;Oracle;PostgreSQL;SQLite,NaN
319,I am a student who is learning to code,No,NaN,53,NaN,United States,MongoDB,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed part-time,NaN,NaN,Bash/Shell/PowerShell;JavaScript;Python;Ruby,Java,Every few months,NaN,Less than 1 year,NaN,NaN,NaN,MongoDB;Oracle,NaN
364,I code primarily as a hobby,Yes,32.0,32,NaN,Canada,MySQL,"Developer, desktop or enterprise applications",NaN,Employed full-time,Man,NaN,HTML/CSS;Java,HTML/CSS;Java,Every few months,NaN,Less than 1 year,NaN,NaN,NaN,MySQL,NaN
448,I am a student who is learning to code,Yes,20.0,19,NaN,Kenya,NaN,NaN,NaN,Student,Man,NaN,C;C++;HTML/CSS;Java;JavaScript;Python;SQL,NaN,NaN,"Information systems, information technology, o...",Less than 1 year,NaN,NaN,NaN,Cassandra;MongoDB;MySQL;PostgreSQL,NaN
559,I am a student who is learning to code,Yes,19.0,13,NaN,United States,NaN,NaN,Some college/university study without earning ...,Student,Man,NaN,C++;SQL,Java;Python,Every few months,"Computer science, computer engineering, or sof...",Less than 1 year,NaN,NaN,NaN,Microsoft SQL Server;MongoDB,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64412,NaN,Yes,NaN,Younger than 5 years,NaN,Djibouti,NaN,NaN,I never completed any formal education,NaN,Man,NaN,Java,Java,Every few months,NaN,Less than 1 year,Less than 1 year,NaN,NaN,Oracle,NaN
64423,NaN,Yes,NaN,55,NaN,Austria,NaN,NaN,Some college/university study without earning ...,Retired,Man,NaN,C#;JavaScript;SQL,TypeScript;VBA,Once a decade,I never declared a major,Less than 1 year,NaN,NaN,NaN,DynamoDB;Microsoft SQL Server;MySQL;SQLite,NaN
64437,NaN,Yes,NaN,25,NaN,Pakistan,NaN,Data or business analyst,"Secondary school (e.g. American high school, G...",Employed full-time,Man,NaN,HTML/CSS;Java,NaN,Once every few years,NaN,Less than 1 year,3,NaN,NaN,Microsoft SQL Server;MySQL,NaN
64438,NaN,Yes,NaN,Younger than 5 years,NaN,Morocco,Cassandra;Microsoft SQL Server,NaN,Primary/elementary school,NaN,Man,NaN,NaN,C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript,NaN,NaN,Less than 1 year,Less than 1 year,NaN,NaN,Elasticsearch;IBM DB2;Oracle,NaN
64449,NaN,Yes,NaN,27,NaN,Saudi Arabia,NaN,"Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,Less than 1 year,Less than 1 year,NaN,NaN,NaN,NaN

In [107]:
survey.YearsCodePro.unique()

array(['27', '4', nan, '8', '13', '2', '7', '20', '1', '23', '3', '12',
       '17', '18', '10', '14', '29', '6', '28', '9', '15', '11', '16',
       '25', 'Less than 1 year', '5', '21', '19', '35', '24', '32', '22',
       '30', '38', '26', '40', '33', '31', 'More than 50 years', '34',
       '36', '39', '37', '41', '45', '47', '42', '46', '50', '43', '44',
       '48', '49'], dtype=object)

In [108]:
survey['YearsCodePro']=pd.to_numeric(survey['YearsCodePro'],errors = 'coerce')

In [109]:
survey['YearsCodePro'].unique()

array([27.,  4., nan,  8., 13.,  2.,  7., 20.,  1., 23.,  3., 12., 17.,
       18., 10., 14., 29.,  6., 28.,  9., 15., 11., 16., 25.,  5., 21.,
       19., 35., 24., 32., 22., 30., 38., 26., 40., 33., 31., 34., 36.,
       39., 37., 41., 45., 47., 42., 46., 50., 43., 44., 48., 49.])

In [110]:
survey[survey['YearsCodePro'] == 'Less than 1 year']

Empty DataFrame
Columns: [MainBranch, Hobbyist, Age, Age1stCode, CompFreq, Country, DatabaseWorkedWith, DevType, EdLevel, Employment, Gender, JobSat, LanguageDesireNextYear, LanguageWorkedWith, NEWLearn, UndergradMajor, YearsCode, YearsCodePro, WorkWeekHrs, OrgSize, DatabaseDesireNextYear, NEWOvertime]
Index: []

In [111]:
survey['YearsCode'] = pd.to_numeric(survey['YearsCode'],errors = 'coerce')
survey['Age1stCode'] = pd.to_numeric(survey['Age1stCode'],errors = 'coerce')

In [112]:
survey['YearsCode'].unique()

array([36.,  7.,  4., 15.,  6., 17.,  8., 10., 35.,  5., 37., 19.,  9.,
       22., 30., 23., 20.,  2., nan,  3., 13., 25., 16., 43., 11., 38.,
       33., 24., 21., 12., 40., 27., 50., 46., 14., 18., 28., 32., 44.,
       26., 42., 31., 34., 29.,  1., 39., 41., 45., 47., 49., 48.])

In [113]:
survey['Age1stCode'].unique()

array([13., 19., 15., 18., 16., 14., 12., 20., 42.,  8., 25., 22., 30.,
       17., 21., 10., 46.,  9.,  7., 11.,  6., nan, 31., 29.,  5., 28.,
       38., 23., 27., 41., 24., 53., 26., 35., 32., 40., 33., 36., 54.,
       48., 56., 45., 44., 34., 39., 51., 68., 50., 37., 47., 43., 52.,
       85., 64., 55., 58., 49., 76., 72., 73., 83., 63.])

In [114]:
survey.describe()  #only of numericpd.to_numerical

                Age    Age1stCode     YearsCode  YearsCodePro   WorkWeekHrs
count  45446.000000  57473.000000  56784.000000  44133.000000  41151.000000
mean      30.834111     15.476572     12.782051      8.869667     40.782174
std        9.585392      5.114081      9.490657      7.759961     17.816383
min        1.000000      5.000000      1.000000      1.000000      1.000000
25%       24.000000     12.000000      6.000000      3.000000     40.000000
50%       29.000000     15.000000     10.000000      6.000000     40.000000
75%       35.000000     18.000000     17.000000     12.000000     44.000000
max      279.000000     85.000000     50.000000     50.000000    475.000000

In [115]:
survey[survey['Age'] ==1]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,Country,DatabaseWorkedWith,DevType,EdLevel,Employment,Gender,JobSat,LanguageDesireNextYear,LanguageWorkedWith,NEWLearn,UndergradMajor,YearsCode,YearsCodePro,WorkWeekHrs,OrgSize,DatabaseDesireNextYear,NEWOvertime
12271,I am a student who is learning to code,Yes,1.0,23.0,NaN,Nigeria,NaN,NaN,"Secondary school (e.g. American high school, G...",Student,Man,NaN,HTML/CSS;Python;SQL,C++;HTML/CSS;Python;SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20042,I am a developer by profession,Yes,1.0,20.0,Monthly,Indonesia,MongoDB,Data or business analyst;Database administrato...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Woman;Man,Very dissatisfied,Go,JavaScript,Once a year,"Computer science, computer engineering, or sof...",5.0,1.0,9.0,10 to 19 employees,Firebase,Often: 1-2 days per week or more
25061,I am a developer by profession,Yes,1.0,12.0,Yearly,Netherlands,DynamoDB;Elasticsearch;MongoDB;PostgreSQL,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Slightly satisfied,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;K...,Bash/Shell/PowerShell;C#;C++;HTML/CSS;Java;Jav...,Every few months,"Computer science, computer engineering, or sof...",14.0,7.0,65.0,20 to 99 employees,DynamoDB;Elasticsearch;MongoDB,Often: 1-2 days per week or more
54687,I am a developer by profession,Yes,1.0,NaN,Monthly,United States,Elasticsearch,Academic researcher;Data or business analyst;D...,I never completed any formal education,Employed full-time,Man,Very dissatisfied,Assembly,Assembly,Once a year,NaN,NaN,NaN,NaN,"10,000 or more employees",Elasticsearch,Rarely: 1-2 days per year or less
58292,I am a developer by profession,Yes,1.0,NaN,Monthly,Indonesia,MariaDB;MongoDB;MySQL,"Developer, back-end;Developer, front-end;Devel...",I never completed any formal education,Employed full-time,Man,Slightly satisfied,Go;TypeScript,JavaScript;PHP;SQL,Every few months,NaN,3.0,2.0,50.0,10 to 19 employees,Elasticsearch;Firebase;PostgreSQL;Redis,Often: 1-2 days per week or more
64383,NaN,Yes,1.0,NaN,NaN,Indonesia,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,I never completed any formal education,NaN,Woman,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,1.0,1.0,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN

In [53]:
survey['Age'] == 1

0        False
1        False
2        False
3        False
4        False
         ...
64456    False
64457    False
64458    False
64459    False
64460    False
Name: Age, Length: 64461, dtype: bool

In [116]:
#fliter
survey.drop(survey[survey.Age < 18].index,inplace=True)

In [117]:
survey.describe()

                Age    Age1stCode     YearsCode  YearsCodePro   WorkWeekHrs
count  44246.000000  56291.000000  55636.000000  44080.000000  41092.000000
mean      31.247679     15.569558     12.949170      8.877019     40.796317
std        9.370502      5.111732      9.508275      7.761229     17.797846
min       18.000000      5.000000      1.000000      1.000000      1.000000
25%       25.000000     12.000000      6.000000      3.000000     40.000000
50%       29.000000     15.000000     10.000000      6.000000     40.000000
75%       36.000000     18.000000     18.000000     12.000000     44.000000
max      279.000000     85.000000     50.000000     50.000000    475.000000

In [118]:
survey.drop(survey[survey.Age >  75].index,inplace=True)

In [119]:
survey.describe()

                Age    Age1stCode     YearsCode  YearsCodePro   WorkWeekHrs
count  44194.000000  56244.000000  55611.000000  44064.000000  41070.000000
mean      31.179251     15.565536     12.945586      8.874138     40.791240
std        9.110811      5.108313      9.502255      7.755869     17.785028
min       18.000000      5.000000      1.000000      1.000000      1.000000
25%       25.000000     12.000000      6.000000      3.000000     40.000000
50%       29.000000     15.000000     10.000000      6.000000     40.000000
75%       36.000000     18.000000     18.000000     12.000000     44.000000
max       75.000000     85.000000     50.000000     50.000000    475.000000

In [120]:
survey[survey['Age1stCode'] == 8]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,Country,DatabaseWorkedWith,DevType,EdLevel,Employment,Gender,JobSat,LanguageDesireNextYear,LanguageWorkedWith,NEWLearn,UndergradMajor,YearsCode,YearsCodePro,WorkWeekHrs,OrgSize,DatabaseDesireNextYear,NEWOvertime
15,I am a developer by profession,Yes,45.0,8.0,Monthly,United Kingdom,PostgreSQL,"Database administrator;Developer, back-end;Dev...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",Man,Very satisfied,Go,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,Once a year,"Computer science, computer engineering, or sof...",37.0,23.0,50.0,"Just me - I am a freelancer, sole proprietor, ...",NaN,Often: 1-2 days per week or more
73,I am a developer by profession,Yes,34.0,8.0,Monthly,United Kingdom,Microsoft SQL Server;MongoDB;MySQL,"Database administrator;Developer, back-end;Dev...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",Man,Neither satisfied nor dissatisfied,Kotlin;Python;Swift,Assembly;Bash/Shell/PowerShell;C;C#;C++;Go;HTM...,Every few months,"Computer science, computer engineering, or sof...",17.0,11.0,35.0,"Just me - I am a freelancer, sole proprietor, ...",Couchbase;DynamoDB;Elasticsearch;MySQL,Never
98,I am a developer by profession,Yes,42.0,8.0,Yearly,United States,MySQL,"Developer, back-end;Developer, desktop or ente...","Associate degree (A.A., A.S., etc.)",Employed full-time,"Man;Non-binary, genderqueer, or gender non-con...",Very satisfied,C#;JavaScript,C#;HTML/CSS;JavaScript;SQL,Once every few years,Web development or web design,27.0,11.0,32.0,20 to 99 employees,NaN,Rarely: 1-2 days per year or less
158,I am a developer by profession,Yes,32.0,8.0,Yearly,United States,MySQL;PostgreSQL;SQLite,"Developer, back-end;Developer, desktop or ente...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,Man,Very satisfied,C;C++;Java;Python;SQL,Bash/Shell/PowerShell;C;C++;Java;JavaScript;Py...,Once a year,"Computer science, computer engineering, or sof...",24.0,11.0,40.0,"5,000 to 9,999 employees",MySQL;SQLite,Rarely: 1-2 days per year or less
196,I am a developer by profession,Yes,40.0,8.0,Yearly,Netherlands,NaN,"Developer, back-end;DevOps specialist",Some college/university study without earning ...,Employed full-time,Man,Very satisfied,Bash/Shell/PowerShell;Go,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;SQL,Once every few years,"Computer science, computer engineering, or sof...",32.0,14.0,40.0,20 to 99 employees,NaN,Never
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64168,NaN,Yes,39.0,8.0,NaN,United Kingdom,NaN,"Designer;Developer, front-end","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,Man,NaN,NaN,HTML/CSS;JavaScript,Once a decade,"A social science (such as anthropology, psycho...",10.0,NaN,NaN,NaN,NaN,NaN
64173,NaN,Yes,NaN,8.0,NaN,United States,DynamoDB;MariaDB;MongoDB;MySQL,"Developer, back-end;Developer, full-stack;Seni...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,Bash/Shell/PowerShell;C#;JavaScript;Python;SQL,Bash/Shell/PowerShell;C;C#;HTML/CSS;JavaScript...,Every few months,"Another engineering discipline (such as civil,...",30.0,10.0,NaN,NaN,DynamoDB;MariaDB;MongoDB,NaN
64217,NaN,Yes,NaN,8.0,NaN,Ukraine,MySQL,NaN,"Secondary school (e.g. American high school, G...",Student,NaN,NaN,C#;C++;Go;HTML/CSS;Java;Kotlin;Python;SQL,C#;C++;HTML/CSS;JavaScript;PHP;Python;SQL,Once a year,NaN,5.0,NaN,NaN,NaN,SQLite,NaN
64244,NaN,Yes,46.0,8.0,NaN,Ireland,MongoDB,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",NaN,Man,NaN,JavaScript,Java,Every few months,Mathematics or statistics,38.0,NaN,NaN,NaN,MongoDB,NaN
64446,NaN,Yes,NaN,8.0,NaN,Australia,MongoDB,Academic researcher;Data or business analyst;D...,Primary/elementary school,"Independent contractor, freelancer, or self-em...",Man,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...,Every few months,NaN,6.0,2.0,NaN,NaN,Firebase;Microsoft SQL Server;MongoDB;MySQL;Po...,NaN

In [121]:
survey.Age1stCode.median()

15.0

In [59]:
survey[survey.Country == 'India']

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,Country,DatabaseWorkedWith,DevType,EdLevel,Employment,Gender,JobSat,LanguageDesireNextYear,LanguageWorkedWith,NEWLearn,UndergradMajor,YearsCode,YearsCodePro,WorkWeekHrs,OrgSize,DatabaseDesireNextYear,NEWOvertime
6,I am a developer by profession,Yes,NaN,18.0,Monthly,India,NaN,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Very satisfied,C#;HTML/CSS;PHP,C#;HTML/CSS;PHP,Every few months,"Computer science, computer engineering, or sof...",6.0,4.0,NaN,20 to 99 employees,NaN,Sometimes: 1-2 days per month but less than we...
21,I am a developer by profession,Yes,NaN,18.0,Monthly,India,NaN,"Developer, full-stack;Engineer, data","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Man,Slightly dissatisfied,Java;JavaScript;Python,Java;Python,Every few months,"Computer science, computer engineering, or sof...",10.0,2.0,50.0,500 to 999 employees,NaN,Often: 1-2 days per week or more
57,I am a developer by profession,Yes,NaN,22.0,NaN,India,Microsoft SQL Server,"Developer, back-end",NaN,"Independent contractor, freelancer, or self-em...",NaN,Very satisfied,C#;JavaScript;SQL;TypeScript,C#;JavaScript;SQL;TypeScript,Once every few years,Web development or web design,NaN,NaN,NaN,NaN,Microsoft SQL Server,Often: 1-2 days per week or more
62,I am a student who is learning to code,Yes,21.0,17.0,NaN,India,Firebase;MongoDB;MySQL,"Designer;Developer, back-end;Developer, front-...","Secondary school (e.g. American high school, G...","Not employed, but looking for work",Man,NaN,Go;Kotlin;TypeScript,C;C++;HTML/CSS;Java;JavaScript;Python,Once a year,NaN,4.0,NaN,NaN,NaN,DynamoDB,NaN
147,I am a developer by profession,Yes,36.0,31.0,Yearly,India,MySQL;PostgreSQL,"Developer, back-end;Developer, QA or test;DevO...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Man,Very satisfied,Bash/Shell/PowerShell;C;C++;Java;Perl;Scala,Bash/Shell/PowerShell;C++;Perl,Once a year,"Computer science, computer engineering, or sof...",5.0,3.0,70.0,500 to 999 employees,Cassandra;MySQL;PostgreSQL,Sometimes: 1-2 days per month but less than we...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64391,NaN,Yes,NaN,18.0,NaN,India,MySQL,"Developer, full-stack;Developer, QA or test","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Man,NaN,HTML/CSS;Java;JavaScript;Python;SQL,C;HTML/CSS;Java;JavaScript;PHP;Python;SQL,Once a year,"Computer science, computer engineering, or sof...",5.0,NaN,NaN,NaN,MongoDB;MySQL,NaN
64398,NaN,Yes,NaN,NaN,NaN,India,NaN,NaN,"Associate degree (A.A., A.S., etc.)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64439,NaN,Yes,NaN,NaN,NaN,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",NaN,Man,NaN,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN
64442,NaN,Yes,NaN,NaN,NaN,India,NaN,NaN,NaN,Employed full-time,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64452,NaN,Yes,NaN,NaN,NaN,India,NaN,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
survey['Age1stCode'] = survey.loc[survey['Age1stCode'] < 15 , 'Age1stCode'] == 15 #those whose age is less than 15 is replaced 15

In [122]:
survey.Age1stCode.unique()

array([13., 19., 15., 18., 16., 14., 12., 20., 42.,  8., 25., 22., 30.,
       17., 21., 10., 46.,  7., 11.,  9.,  6., nan, 31., 29.,  5., 28.,
       38., 23., 27., 41., 24., 53., 26., 35., 32., 40., 33., 36., 54.,
       48., 56., 45., 44., 34., 39., 51., 68., 50., 37., 47., 43., 52.,
       85., 64., 55., 58., 49., 76., 72., 73., 83., 63.])

In [125]:
def age(value):
  if value < 15:
    return 15
  elif value > 75:
    return 75
  else:
    return value

In [126]:
survey['Age1stCode'] = survey['Age1stCode'].map(age)

In [127]:
survey.Age1stCode.unique()

array([15., 19., 18., 16., 20., 42., 25., 22., 30., 17., 21., 46., nan,
       31., 29., 28., 38., 23., 27., 41., 24., 53., 26., 35., 32., 40.,
       33., 36., 54., 48., 56., 45., 44., 34., 39., 51., 68., 50., 37.,
       47., 43., 52., 75., 64., 55., 58., 49., 72., 73., 63.])

In [128]:
survey.describe()

                Age    Age1stCode     YearsCode  YearsCodePro   WorkWeekHrs
count  44194.000000  56244.000000  55611.000000  44064.000000  41070.000000
mean      31.179251     17.097877     12.945586      8.874138     40.791240
std        9.110811      3.767023      9.502255      7.755869     17.785028
min       18.000000     15.000000      1.000000      1.000000      1.000000
25%       25.000000     15.000000      6.000000      3.000000     40.000000
50%       29.000000     15.000000     10.000000      6.000000     40.000000
75%       36.000000     18.000000     18.000000     12.000000     44.000000
max       75.000000     75.000000     50.000000     50.000000    475.000000

In [129]:
survey[survey['Age1stCode'] == 15]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,Country,DatabaseWorkedWith,DevType,EdLevel,Employment,Gender,JobSat,LanguageDesireNextYear,LanguageWorkedWith,NEWLearn,UndergradMajor,YearsCode,YearsCodePro,WorkWeekHrs,OrgSize,DatabaseDesireNextYear,NEWOvertime
0,I am a developer by profession,Yes,NaN,15.0,Monthly,Germany,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",Man,Slightly satisfied,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,Once a year,"Computer science, computer engineering, or sof...",36.0,27.0,50.0,2 to 9 employees,Microsoft SQL Server,Often: 1-2 days per week or more
2,I code primarily as a hobby,Yes,NaN,15.0,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,Once a decade,NaN,4.0,NaN,NaN,NaN,NaN,NaN
5,I am a developer by profession,No,NaN,15.0,NaN,Germany,NaN,"Designer;Developer, front-end;Developer, mobile","Secondary school (e.g. American high school, G...",Employed full-time,Man,Slightly satisfied,HTML/CSS;Java;JavaScript,HTML/CSS;Java;JavaScript,Once a year,NaN,6.0,4.0,NaN,NaN,NaN,Never
7,I am a developer by profession,Yes,36.0,15.0,Yearly,United States,MariaDB;MySQL;Redis,"Developer, back-end;Developer, desktop or ente...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,Man,Slightly dissatisfied,JavaScript,Python;SQL,Once a year,"Computer science, computer engineering, or sof...",17.0,13.0,39.0,20 to 99 employees,MongoDB,Occasionally: 1-2 days per quarter but less th...
9,I am a developer by profession,Yes,22.0,15.0,Yearly,United Kingdom,Microsoft SQL Server,"Database administrator;Developer, full-stack;D...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,Man,Very satisfied,HTML/CSS;Java;JavaScript;Python;R;SQL,HTML/CSS;Java;JavaScript;Python;SQL,Every few months,Mathematics or statistics,8.0,4.0,36.0,2 to 9 employees,Microsoft SQL Server,Often: 1-2 days per week or more
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64422,NaN,Yes,23.0,15.0,NaN,United Kingdom,MySQL;PostgreSQL;SQLite,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Not employed, but looking for work",NaN,NaN,Dart;HTML/CSS;Java;JavaScript;Python;Rust,HTML/CSS;Python,Once a year,"Computer science, computer engineering, or sof...",5.0,NaN,NaN,NaN,MongoDB;MySQL;PostgreSQL,NaN
64426,NaN,Yes,22.0,15.0,NaN,Spain,DynamoDB;Firebase;MongoDB;Oracle;PostgreSQL,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Student,Man,NaN,Assembly;C;C++;Go;Java;Kotlin;Python;Rust;Type...,Assembly;C;C++;Dart;HTML/CSS;Java;Kotlin;Pytho...,Once a year,"Computer science, computer engineering, or sof...",10.0,NaN,NaN,NaN,DynamoDB;MongoDB;PostgreSQL;Redis;SQLite,NaN
64432,NaN,Yes,NaN,15.0,NaN,United Kingdom,MySQL;SQLite,Data scientist or machine learning specialist;...,Some college/university study without earning ...,"Independent contractor, freelancer, or self-em...",Man,NaN,Dart;Julia;Perl,Bash/Shell/PowerShell;C;C++;Go;HTML/CSS;JavaSc...,Every few months,"Computer science, computer engineering, or sof...",13.0,NaN,NaN,NaN,NaN,NaN
64446,NaN,Yes,NaN,15.0,NaN,Australia,MongoDB,Academic researcher;Data or business analyst;D...,Primary/elementary school,"Independent contractor, freelancer, or self-em...",Man,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...,Every few months,NaN,6.0,2.0,NaN,NaN,Firebase;Microsoft SQL Server;MongoDB;MySQL;Po...,NaN
64453,NaN,Yes,NaN,15.0,NaN,Thailand,NaN,"Data or business analyst;Developer, mobile;Sen...",Primary/elementary school,"Not employed, but looking for work",NaN,NaN,C++;HTML/CSS,C++;HTML/CSS,Once a year,NaN,3.0,NaN,NaN,NaN,NaN,NaN